body{
    width: 100vw;
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;
}
.container{
    background-color: lightgoldenrodyellow;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}
.innerContainer{
    background-color: aquamarine;
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navigationBar{
    width: 50%;
    height: 20%;
    background-color: rgb(80, 229, 69);

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftBar{
    width: 45%;
    background-color: rgb(229, 86, 86);

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: blue;
}
.linkTag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkTag a{
    text-decoration: none;
    opacity: 0.8;
    color: white;
    font-weight: bold;
}

.linkTag a:hover{
    opacity: 1;
}
.app a{
    opacity: 1;
}
.loginForm{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: greenyellow;
    margin-left: 7%;
}
.textSession{
    height: 33%;
    background-color: rgb(236, 144, 144);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.text2{
    height: 40%;
    font-size: 30px;

}
.text3{
    height: 18%;
    font-size: 10px;
}

.text3 a{
    text-decoration: none;
}
.text3 a:hover{
    color: red;
}
.formSession{
    width: 50%;
    height: 60%;
    display: flex;
}
.formContainer{
    width: 250px;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.nameContainer{
    width: 100%;
    background-color: pink;
    display: grid;
    grid-template: auto / 45% 45%;
    justify-content: space-between;
    
}
.submitContainer{
    margin-top: 13px;
    width: 100%;
    background-color: pink;
    display: grid;
    grid-template: auto / 47% 47%;
    justify-content: space-between;
}
.content{
    width: 100%;
    height: 30px;
    border-radius: 7px;
}
.submit{
    border-radius: 25px;
}


@media screen and (min-width: 280px){
    .navigationBar{
        width: 70%;
    }
    .leftBar{
        width: 50%;
    }
    .logo{
        width: 15px;
        height: 15px;
    }
    .linkTag a{
        font-size: 13px;
    }
    .text1,.text3{
        font-size: 12px;
    }
    .text2{
        font-size: 23px;
    }
    .formContainer{
        width: 200px;
    }
    .content{
        height: 35px;
    }
    .innerContainer{
        height: 90%;
    }
    .submit{
        font-size: 10px;
    }
    
    
}
@media screen and (min-width: 640px){
    .navigationBar{
        width: 50%;
    }
    .leftBar{
        width:40%;
    }
    .innerContainer{
        height: 90%;
    }
    .text1, .text3{
        font-size: 8px;
    }
    .text2{
        font-size: 20px;
    }
    .content{
        height: 20px;
        font-size: 10px;
    }
    .submitContainer{
        margin-top: 5px;
    }
    .formContainer{
        width: 200px;
    }
}
@media screen and (min-width: 768px){
    .leftBar{
        width: 50%;
    }
    .linkTag a{
        font-size: 20px;
    }
    .logo{
        width: 20px;
        height: 20px;
    }
    .content{
        height: 50px;
    }
    .text{
        font-size: 15px;
    }
    .text2{
        font-size: 30px;
    }
    .formContainer{
        width: 300px;
    }
    
}
@media screen and (min-width: 844px) {
    .navigationBar{
        width: 50%;
    }
    .linkTag a{
        font-size: 15px;
    }
    .leftBar{
        width: 35%;
    }
    .innerContainer{
        height: 90%;
    }
    .text1, .text3{
        font-size: 8px;
    }
    .text2{
        font-size: 20px;
    }
    .content{
        height: 20px;
        font-size: 10px;
    }
    .submitContainer{
        margin-top: 5px;
    }
    .formContainer{
        width: 230px;
    }
}
@media screen and (min-width: 1024px){
    .leftBar{
        width: 45%;
    }
    .linkTag a{
        font-size: 23px;
    }
    .logo{
        width: 25px;
        height: 25px;
    }
    .content{
        height: 35px;
    }
    .text1,.text3{
        font-size: 15px;
    }
    .text2{
        font-size: 30px;
    }
    .formContainer{
        width: 350px;
    }

}
@media screen and (min-width: 1280px){
    .leftBar{
        width: 40%;
    }
    .linkTag a{
        font-size: 27px;
    }
    .content{
        height: 43px;
    }
    .text1, .text3{
        font-size: 15px;
    }
    .text2{
        font-size: 30px;
    }
    .text{
        height: 25%;
    }
    .formSession{
        height: 57%;
    }
    .loginForm{
        height: 65%;
    }
    .formContainer{
        width: 350px;
    }

}


